.myorder{
    position: relative;
}
.subMain{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.subNav {
  display: flex;
  flex-direction: column;
  color: #666262;
  justify-content: center;
  align-items: center;
  height: 94px;
  background-color: #EEEEEE;
}

.subNav .line {
  width: 40px;
  height: 6px;
  border-radius: 3px;
  background: transparent
}

.subNav.con {
  color: #FF5951;
}

.subNav.con .line {
  background: #FF5951;
}
.scrollviewGoods {
    height: 150px;
    white-space: nowrap;
    background-color: #fff;
    padding: 20px 0;
  }


  .goodInfo {
    width: 150px;
    display: inline-block;
    height: 150px;
    margin-right: 20px;
  }
