  .shoplist{
    border-bottom: 2px solid rgba(237, 237, 237, 0.9);
    background-color: #fff;
    padding: 20px;
    align-items: center;
  }
  .shop .couponType{
    width: 36px;
    height: 36px;
    border-radius: 36px;
    box-sizing: border-box;
    border: 3px solid #EBEBEB;
}
.shop .couponType.con{
    width: 36px;
    height: 36px;
    border-radius: 36px;
    box-sizing: border-box;
    border: 3px solid #FF5951;
    background:#FF5951 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAQCAYAAAAWGF8bAAAABHNCSVQICAgIfAhkiAAAAGNJREFUOI2107ENgDAMRNGMxgiMkJGyQdj0U6BILhA5J8fV9pNl2aUYAhwOZ2CVJ92JsY2+YAD1Pww4ndiljJzFPvcg70wplDGlIY1N0L6ETdA1TEDzWECbDQuodJtZVPqemBtq5Zb1n438jAAAAABJRU5ErkJggg==') no-repeat center center;
    background-size: 18px 18px;

}

.shop .productPhOrder {
  width: 128px;
  height: 128px;
  margin-right: 20px;
  display: inline-block;
  background: #f8f8f8;
}

.shop .productCenter {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 128px;
}

.shop .productName {
  font-size: 36px;
  color: #666488;

  // overflow: hidden; //超出的文本隐藏
  // text-overflow: ellipsis; //溢出用省略号显示
  // white-space: nowrap;

    overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2; 
}
.cost {
  font-size: 44px;
  color: #FF5951;
}

.shop .reduceIcon {
  width: 42px;
  height: 42px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAICAYAAADqSp8ZAAAABHNCSVQICAgIfAhkiAAAAE5JREFUKJHl0zERwDAMQ1HLIpOtdILDqAIpZHTqlLsSiJd+Am/6qKpH0gIw4mK2N8mZHVhEBIAhaWUH9kWzCzv9ALS9uzDbO0nODvRs8QJgIyGVXhtG5wAAAABJRU5ErkJggg==') no-repeat center center;
  background-size: 28px 8px;
  text-indent: -9999px;

}

.shop .numberTip {
  width: 90px;
height: 42px;
border-radius: 5px;
background: #F8F8F8;
  text-align: center;
  margin: 0 20px;
  line-height: 42px;
}

.shop .plusIcon {
  width: 42px;
  height: 42px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAABHNCSVQICAgIfAhkiAAAAKJJREFUSInt1MENwjAMheE/EXu0ozACI7QbeBRvEEZhlGYEJqCHIg6oWK4IKYL4GEf+cnBewFkicgQS0D+1JmBU1YtnTvSCwHkF436WvEO2gJ3RW3vI22CRamADvx8MRoKUrgkYDywJYn3qUtUDKVbCHujvL80u4LWilyNwAnINDBiC97aI3Ky+qrpm/cfSNLCBHwOtRHIHxxbwVSJlYPAOmQG80hnLYCZh9gAAAABJRU5ErkJggg==') no-repeat center center;
  background-size: 28px 28px;
  text-indent: -9999px;
}
