button[type=''].btn {
    border: 1px solid #999393;
    color: #262424;
    border-radius: 60px
  }
  
  button[type=''].btn-hover {
    // background-image: linear-gradient(#FF5951, #FE3B30);
  }
  